   {% extends "gestion_atletas/base.html" %}

   {% load static %}

   {% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'gestion_atletas/img/principal.png' %}" alt="">
        
      </div>
    </div>

    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
      <h2 class="bg-primary section-heading mb-4" >
        <span class="section-heading-upper">Dedicación</span>
        <span class="section-heading-upper">Entrenamiento Sacrifico</span>
      </h2>
      <p class="bg-primary mb-3">Un gran equipo humano para ayudar a conseguir tus metas.</p> 
     
    </div>
    
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Escuela de</span>
                <span class="section-heading-lower">ATLETISMO</span>
              </h2>
              <p class="mb-0">Desde el año 1994 formando nuevos atletas, logrando después de varios años, importantes triunfos en nuestro deporte</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
  