{% extends "gestion_atletas/base.html" %}

{% load static %}

{% block content %}

      {%for post in posts%}
     <section class="page-section clearfix">
            <div class="container">
                  
            
                  <div class="intro">
                        <img class="intro-img img-fluid m-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
                        <div class="intro-text left-o text.center bg-default p-2 rounded m-3">
      
                              <h3 class="section-heading m-3">
                                    <span class="section-heading-lower">{{post.titulo}}</span>
                                    <span class="section-heading-upper">{{post.contenido | safe}}</span>
                              </h3>
                              <h5>Usuario: {{post.autor}}</h5>
                              
                        </div>
      
                  </div>
                              
             </div>
                    


      </section>
      
      

      {% endfor %}

      <section>
            <div style="width: 75%; margin: auto;text-align: center; color: blanchedalmond;">
                  categoria --->  {{Cate.nombre}}         
                        
                  
                  
            </div>
      </section>

{% endblock %}