{% extends "gestion_atletas/base.html" %}

{% load static %}
{% block content %}

    <!--{% if validlink %}-->

      <h1>INDICAR NUEVA CONTRASEÑA</h1>
      <form method="post">
        {% csrf_token %}
        {{form.password1.errors}}
        <label for="id_new_password1",style="color:#efeef0">Nueva contraseña: </label>{{ form.new_password1 }}
        

        {{form.password2.errors}}
        <label for="id_new_password2", style="color:#efeef0" >Confirme contraseña: </label>{{ form.new_password2 }}
        <input type="submit" value="Cambiar contraseña" />
      </form> 

       

    <!--{%else%}
        <h1 style="color:#efeef0",class="text-center">ENLACE INVALIDO, SOLO SE PUEDE USAR UNA VEZ</h1>
    {%endif%}-->


     
    

{% endblock %}
      