


<p2>Atletas inscritos en la prueba: {{inscripcion.first.Id_Prueba}} </p2>

<table class="table table-bordered">
<thead>
        <tr>
            <td>#/</td>
            <td>Nombre Atleta </td>
            <td>Apellidos Atleta </td>
            <td>Categoria inscrito</td>
            
        </tr>
    </thead>

    <tbody>
        {%if inscripcion%}
        {% for Inscrip in inscripcion %}
        <tr class="table table-striped">
            <td font size ="3" >{{Inscrip.Id_Ins}}</td>
            <td font size ="3" >{{Inscrip.username.first_name}}</td>
            <td font size ="3" >{{Inscrip.username.last_name}}</td>
            <td font size ="3" >{{Inscrip.Id_Cat}}</td>
           
           
            
        </tr>
        {% endfor %}
        

        {%else%}
        <h2>NO HAY NINGUN REGISTRO</h2> 

        {%endif%}
    </tbody>
    
</table>
         
            
  

