{% extends "usuarios/areaclientes.html" %}

{% load static %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#/</td>
            <td>Modalidad</td>
            <td>Nombre Prueba</td>
            <td>&&&&&&&&&&&&&</td>

            
        </tr>
    </thead>

    <tbody>
        {%if object_list%}
        {% for Inscripcion in object_list %}
        <tr class="table table-striped">
            <td font size ="3" >{{Inscripcion.Id_Ins}}</td>
            <td font size ="3" >{{Inscripcion.Id_Cat}}</td>
            <td font size ="3" >{{Inscripcion.Id_Cat.Id_Prueba}}</td>
            <td >
                <a class="btn btn-danger"  href="{% url 'borrar' Inscripcion.pk  %}">Borrar Inscripción</a>
            </td>
            
            
        </tr>
        {% endfor %}
        {%else%}
        <h2>NO HAY NINGUN REGISTRO</h2> 

        {%endif%}
    </tbody>

</table>
         
            
  

{% endblock %}