{% extends "gestion_atletas/base.html" %}

{% load static %}

{% block content %}
<h1 style=" width: 500px; color:#e61515f5; text-align: center; background-color: cornsilk; margin-top: 25px; font-family: 'Times New Roman', Times, serif;" class="mx-auto"> REGISTRO DE USUARIOS</h1>

<form  method="POST"> {% csrf_token %} 
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
               <label style="color:#efeef0"; for="username"> nombre de usuario: </label> 
                <input class="form-control" type="text" name="username">
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center ">
        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
               <label style="color:#efeef0"; for="username"> contraseña: </label> 
                <input class="form-control" type="password" name="password">
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
                <a style="color:#efeef0"; href="{% url 'Codigo' %}"> nuevo usuario &nbsp; &nbsp;</a>
                <a style="color:#efeef0"; href="{% url 'password_reset' %}">olvidé mi contraseña</a>
               
                <input class="btn btn-primary" type="submit" value="aceptar">
            </div>
        </div>
    </div>
            
            
  </form>

{% endblock %}